.msa-forgotpassword-header_content-div {
  background-color: whitesmoke;
}
.msa-otp-container-style {
  height: 50px;
  width: 50px !important;
}
.msa-otp-sperator-style {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}
.msa-resent-otp {
  color: #168196 !important;
}
.msa-calcel-otp-window {
  color: red !important;
}
