.msa-contact-header-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.msa-user-profile-name-div {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding-left: 50px;
}

.msa-user-profile-name {
  font-size: 16px;
  font-weight: 600;
  padding-left: 12px;
}
.msa-user-profile-Email {
  font-size: 12px;
  font-weight: 600;
}
.msa-no-border {
  border: 0 !important;
  box-shadow: none;
}
