.mas-signup-gb-color {
  background-color: #e4e3e3;
  height: 100vh;
}

.msa-signup-header_raw {
  height: 10vh;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}

.msa-signup-mid_raw {
  height: 80vh;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}
.msa-signup-last_colum {
  background-color: #204051;
  border-radius: 5px;
}
.msa-signup-box-div-1 {
  height: 20vh;
}

.msa-signup-box-div-2 {
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.msa-signup-box-div-3 {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 10px;
}

.msa-signup-box-username-text {
  width: 60%;
}
.msa-signup-box-signup-btn {
  width: 100%;
  background-color: #1b262c !important;
  border-color: #1b262c !important;
}

.msa-signup-logo {
  padding-top: 50px;
}
.msa-signup-logo-1 {
  padding-left: 140px;
}
.msa-footer-signup-label {
  color: rgb(6, 8, 10);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding-top: 20px;
}
.msa-btn-signup {
  width: 90%;
}
