.mas-signup-gb-color {
  background-color: #e4e3e3;
  height: 100vh;
}

.msa-signup-header_raw {
  height: 10vh;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}

.msa-signup-mid_raw {
  height: 80vh;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}
.msa-signup-last_colum {
  background-color: #204051;
  border-radius: 5px;
}
.msa-signup-box-div-1 {
  height: 20vh;
}

.msa-signup-box-div-2 {
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.msa-signup-box-div-3 {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 10px;
}

.msa-signup-box-username-text {
  width: 60%;
}
.msa-signup-box-signup-btn {
  width: 100%;
  background-color: #1b262c !important;
  border-color: #1b262c !important;
}

.msa-signup-logo {
  padding-top: 50px;
}
.msa-signup-logo-1 {
  padding-left: 140px;
}
.msa-footer-signup-label {
  color: rgb(6, 8, 10);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding-top: 20px;
}
x .msa-btn-signup {
  width: 90%;
}

.msa-signup_colum {
  border-radius: 5px;
}
.msa-signup-div-shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.4), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
}

.msa-input-box-02 {
  font-size: 14px;
  background: #fdfdfd;
  border: 1px solid #e4e4e4 !important;
  width: 100%;
  color: #17a2b8;
  border-radius: 2px;
  padding: 7px 10px;
  font-family: Helvetica, Arial, "Times New Roman";
  border-radius: 10px;
}
.msa-signup-header_content-div {
  background-color: whitesmoke;
}
